body {
    margin: 0;
    padding: 0;
    text-align:center;
    background: url(alhel.png);
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    height: 400px;
    background-attachment: fixed;
}
h1 {

}