* {
    margin: 0;
    padding: 0;
    box-sizing: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: url(alhel.png);
    background-size: cover;
    background-position: center center;
}

.drag-area {
    border: 5px dashed #ddd;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
    }

.drag-area h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    }

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    }

.drag-area button{
    padding:10px 25px;
    font-size: 20px;
    border:0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20 px; 
}

.file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10 px;
    border: solid 1px #ddd;
}

#previer {
    margin-top: 10px;
}

.status-text {
    padding: 0 10px;
}

.sucess{
    color #52ad5a;
}

.failure{
    color: #ff0000;
}