body {
    min-height: 100vh;
    background: url(alhel.png);
    background-size: cover;
    background-position: center;
    background-position: center ;
}

file-id {
    flex: 7;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 5px;
}


.drop-area {
    border: 5px dashed #ddd;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


    .drop-area.active {
        background-color: #b8d4fe;
        color: black;
        border: 2px dashed #618ac9;
    }

    .drop-area h2 {
        font-size: 30px;
        font-weight: 500;
        color: #000;
    }

    .drop-area span {
        font-size: 25px;
        font-weight: 500;
        color: #000;
    }

.file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10 px;
    border: solid 1px #ddd;
}


.status-text {
    padding: 0 10px;
}

.sucess {
    color #52ad5a;
}

.failure {
    color: #ff0000;