body {
    min-height: 100vh;
    background: url(alhel.png);
    background-size: cover;
    background-position: center;
    background-position: center ;
}

file-id {
    flex: 7;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 5px;
}


.drop-area {
    border: 5px dashed #ddd;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}